{% include  'layout.html' %}
{% block css %}
<link rel="stylesheet" href="{{ url_for('static' ,filename='missing.css') }}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

{% endblock %}
{% block body %}
  <div class=" container-fluid">
  <div class="row ">
    <div class="col-md-4 header ">
      <table class="table table-striped mt-3">
        <tr>
            <th>Column 1</th>
            <th>Column 2</th>
            <th>Column 3</th>
            <th>Column 4</th>
            <th>Column 5</th>
            <th>Actions</th>
        </tr>
   
   
        <tr>
            <td>Data 1</td>
            <td>Data 2</td>
            <td>Data 3</td>
            <td>Data 4</td>
            <td>Data 5</td>
            <td>
                <span class="delete-icon text-danger" onclick="deleteRow(this.closest('tr'))"><i class="fas fa-trash-alt"></i></span>
                <span class="update-icon text-primary" onclick="editRow(this.closest('tr'))"><i class="fas fa-edit"></i></span>
                <span class="save-icon text-success" style="display:none" onclick="saveRow(this.closest('tr'))"><i class="fas fa-save"></i></span>
                <span class="cancel-icon text-secondary" style="display:none" onclick="cancelEditRow(this.closest('tr'))"><i class="fas fa-times"></i></span>
            </td>
        </tr>




        <tr>
            <td>Data 1</td>
            <td>Data 2</td>
            <td>Data 3</td>
            <td>Data 4</td>
            <td>Data 5</td>
            <td>
                <span class="delete-icon text-danger" onclick="deleteRow(this.closest('tr'))"><i class="fas fa-trash-alt"></i></span>
                <span class="update-icon text-primary" onclick="editRow(this.closest('tr'))"><i class="fas fa-edit"></i></span>
                <span class="save-icon text-success" style="display:none" onclick="saveRow(this.closest('tr'))"><i class="fas fa-save"></i></span>
                <span class="cancel-icon text-secondary" style="display:none" onclick="cancelEditRow(this.closest('tr'))"><i class="fas fa-times"></i></span>
            </td>
        </tr>




        <tr>
            <td>Data 1</td>
            <td>Data 2</td>
            <td>Data 3</td>
            <td>Data 4</td>
            <td>Data 5</td>
            <td>
                <span class="delete-icon text-danger" onclick="deleteRow(this.closest('tr'))"><i class="fas fa-trash-alt"></i></span>
                <span class="update-icon text-primary" onclick="editRow(this.closest('tr'))"><i class="fas fa-edit"></i></span>
                <span class="save-icon text-success" style="display:none" onclick="saveRow(this.closest('tr'))"><i class="fas fa-save"></i></span>
                <span class="cancel-icon text-secondary" style="display:none" onclick="cancelEditRow(this.closest('tr'))"><i class="fas fa-times"></i></span>
            </td>
        </tr>




        <tr>
            <td>Data 1</td>
            <td>Data 2</td>
            <td>Data 3</td>
            <td>Data 4</td>
            <td>Data 5</td>
            <td>
                <span class="delete-icon text-danger" onclick="deleteRow(this.closest('tr'))"><i class="fas fa-trash-alt"></i></span>
                <span class="update-icon text-primary" onclick="editRow(this.closest('tr'))"><i class="fas fa-edit"></i></span>
                <span class="save-icon text-success" style="display:none" onclick="saveRow(this.closest('tr'))"><i class="fas fa-save"></i></span>
                <span class="cancel-icon text-secondary" style="display:none" onclick="cancelEditRow(this.closest('tr'))"><i class="fas fa-times"></i></span>
            </td>
        </tr>
        
   
</table>        <table class="table table-striped mt-3">
  <tr>
      <th>Column 1</th>
      <th>Column 2</th>
      <th>Column 3</th>
      <th>Column 4</th>
      <th>Column 5</th>
      <th>Actions</th>
  </tr>


  <tr>
      <td>Data 1</td>
      <td>Data 2</td>
      <td>Data 3</td>
      <td>Data 4</td>
      <td>Data 5</td>
      <td>
          <span class="delete-icon text-danger" onclick="deleteRow(this.closest('tr'))"><i class="fas fa-trash-alt"></i></span>
          <span class="update-icon text-primary" onclick="editRow(this.closest('tr'))"><i class="fas fa-edit"></i></span>
          <span class="save-icon text-success" style="display:none" onclick="saveRow(this.closest('tr'))"><i class="fas fa-save"></i></span>
          <span class="cancel-icon text-secondary" style="display:none" onclick="cancelEditRow(this.closest('tr'))"><i class="fas fa-times"></i></span>
      </td>
  </tr>




  <tr>
      <td>Data 1</td>
      <td>Data 2</td>
      <td>Data 3</td>
      <td>Data 4</td>
      <td>Data 5</td>
      <td>
          <span class="delete-icon text-danger" onclick="deleteRow(this.closest('tr'))"><i class="fas fa-trash-alt"></i></span>
          <span class="update-icon text-primary" onclick="editRow(this.closest('tr'))"><i class="fas fa-edit"></i></span>
          <span class="save-icon text-success" style="display:none" onclick="saveRow(this.closest('tr'))"><i class="fas fa-save"></i></span>
          <span class="cancel-icon text-secondary" style="display:none" onclick="cancelEditRow(this.closest('tr'))"><i class="fas fa-times"></i></span>
      </td>
  </tr>




  <tr>
      <td>Data 1</td>
      <td>Data 2</td>
      <td>Data 3</td>
      <td>Data 4</td>
      <td>Data 5</td>
      <td>
          <span class="delete-icon text-danger" onclick="deleteRow(this.closest('tr'))"><i class="fas fa-trash-alt"></i></span>
          <span class="update-icon text-primary" onclick="editRow(this.closest('tr'))"><i class="fas fa-edit"></i></span>
          <span class="save-icon text-success" style="display:none" onclick="saveRow(this.closest('tr'))"><i class="fas fa-save"></i></span>
          <span class="cancel-icon text-secondary" style="display:none" onclick="cancelEditRow(this.closest('tr'))"><i class="fas fa-times"></i></span>
      </td>
  </tr>




  <tr>
      <td>Data 1</td>
      <td>Data 2</td>
      <td>Data 3</td>
      <td>Data 4</td>
      <td>Data 5</td>
      <td>
          <span class="delete-icon text-danger" onclick="deleteRow(this.closest('tr'))"><i class="fas fa-trash-alt"></i></span>
          <span class="update-icon text-primary" onclick="editRow(this.closest('tr'))"><i class="fas fa-edit"></i></span>
          <span class="save-icon text-success" style="display:none" onclick="saveRow(this.closest('tr'))"><i class="fas fa-save"></i></span>
          <span class="cancel-icon text-secondary" style="display:none" onclick="cancelEditRow(this.closest('tr'))"><i class="fas fa-times"></i></span>
      </td>
  </tr>
  

</table>        <table class="table table-striped mt-3">
  <tr>
      <th>Column 1</th>
      <th>Column 2</th>
      <th>Column 3</th>
      <th>Column 4</th>
      <th>Column 5</th>
      <th>Actions</th>
  </tr>


  <tr>
      <td>Data 1</td>
      <td>Data 2</td>
      <td>Data 3</td>
      <td>Data 4</td>
      <td>Data 5</td>
      <td>
          <span class="delete-icon text-danger" onclick="deleteRow(this.closest('tr'))"><i class="fas fa-trash-alt"></i></span>
          <span class="update-icon text-primary" onclick="editRow(this.closest('tr'))"><i class="fas fa-edit"></i></span>
          <span class="save-icon text-success" style="display:none" onclick="saveRow(this.closest('tr'))"><i class="fas fa-save"></i></span>
          <span class="cancel-icon text-secondary" style="display:none" onclick="cancelEditRow(this.closest('tr'))"><i class="fas fa-times"></i></span>
      </td>
  </tr>




  <tr>
      <td>Data 1</td>
      <td>Data 2</td>
      <td>Data 3</td>
      <td>Data 4</td>
      <td>Data 5</td>
      <td>
          <span class="delete-icon text-danger" onclick="deleteRow(this.closest('tr'))"><i class="fas fa-trash-alt"></i></span>
          <span class="update-icon text-primary" onclick="editRow(this.closest('tr'))"><i class="fas fa-edit"></i></span>
          <span class="save-icon text-success" style="display:none" onclick="saveRow(this.closest('tr'))"><i class="fas fa-save"></i></span>
          <span class="cancel-icon text-secondary" style="display:none" onclick="cancelEditRow(this.closest('tr'))"><i class="fas fa-times"></i></span>
      </td>
  </tr>




  <tr>
      <td>Data 1</td>
      <td>Data 2</td>
      <td>Data 3</td>
      <td>Data 4</td>
      <td>Data 5</td>
      <td>
          <span class="delete-icon text-danger" onclick="deleteRow(this.closest('tr'))"><i class="fas fa-trash-alt"></i></span>
          <span class="update-icon text-primary" onclick="editRow(this.closest('tr'))"><i class="fas fa-edit"></i></span>
          <span class="save-icon text-success" style="display:none" onclick="saveRow(this.closest('tr'))"><i class="fas fa-save"></i></span>
          <span class="cancel-icon text-secondary" style="display:none" onclick="cancelEditRow(this.closest('tr'))"><i class="fas fa-times"></i></span>
      </td>
  </tr>




  <tr>
      <td>Data 1</td>
      <td>Data 2</td>
      <td>Data 3</td>
      <td>Data 4</td>
      <td>Data 5</td>
      <td>
          <span class="delete-icon text-danger" onclick="deleteRow(this.closest('tr'))"><i class="fas fa-trash-alt"></i></span>
          <span class="update-icon text-primary" onclick="editRow(this.closest('tr'))"><i class="fas fa-edit"></i></span>
          <span class="save-icon text-success" style="display:none" onclick="saveRow(this.closest('tr'))"><i class="fas fa-save"></i></span>
          <span class="cancel-icon text-secondary" style="display:none" onclick="cancelEditRow(this.closest('tr'))"><i class="fas fa-times"></i></span>
      </td>
  </tr>
  

</table>        <table class="table table-striped mt-3">
  <tr>
      <th>Column 1</th>
      <th>Column 2</th>
      <th>Column 3</th>
      <th>Column 4</th>
      <th>Column 5</th>
      <th>Actions</th>
  </tr>


  <tr>
      <td>Data 1</td>
      <td>Data 2</td>
      <td>Data 3</td>
      <td>Data 4</td>
      <td>Data 5</td>
      <td>
          <span class="delete-icon text-danger" onclick="deleteRow(this.closest('tr'))"><i class="fas fa-trash-alt"></i></span>
          <span class="update-icon text-primary" onclick="editRow(this.closest('tr'))"><i class="fas fa-edit"></i></span>
          <span class="save-icon text-success" style="display:none" onclick="saveRow(this.closest('tr'))"><i class="fas fa-save"></i></span>
          <span class="cancel-icon text-secondary" style="display:none" onclick="cancelEditRow(this.closest('tr'))"><i class="fas fa-times"></i></span>
      </td>
  </tr>




  <tr>
      <td>Data 1</td>
      <td>Data 2</td>
      <td>Data 3</td>
      <td>Data 4</td>
      <td>Data 5</td>
      <td>
          <span class="delete-icon text-danger" onclick="deleteRow(this.closest('tr'))"><i class="fas fa-trash-alt"></i></span>
          <span class="update-icon text-primary" onclick="editRow(this.closest('tr'))"><i class="fas fa-edit"></i></span>
          <span class="save-icon text-success" style="display:none" onclick="saveRow(this.closest('tr'))"><i class="fas fa-save"></i></span>
          <span class="cancel-icon text-secondary" style="display:none" onclick="cancelEditRow(this.closest('tr'))"><i class="fas fa-times"></i></span>
      </td>
  </tr>




  <tr>
      <td>Data 1</td>
      <td>Data 2</td>
      <td>Data 3</td>
      <td>Data 4</td>
      <td>Data 5</td>
      <td>
          <span class="delete-icon text-danger" onclick="deleteRow(this.closest('tr'))"><i class="fas fa-trash-alt"></i></span>
          <span class="update-icon text-primary" onclick="editRow(this.closest('tr'))"><i class="fas fa-edit"></i></span>
          <span class="save-icon text-success" style="display:none" onclick="saveRow(this.closest('tr'))"><i class="fas fa-save"></i></span>
          <span class="cancel-icon text-secondary" style="display:none" onclick="cancelEditRow(this.closest('tr'))"><i class="fas fa-times"></i></span>
      </td>
  </tr>




  <tr>
      <td>Data 1</td>
      <td>Data 2</td>
      <td>Data 3</td>
      <td>Data 4</td>
      <td>Data 5</td>
      <td>
          <span class="delete-icon text-danger" onclick="deleteRow(this.closest('tr'))"><i class="fas fa-trash-alt"></i></span>
          <span class="update-icon text-primary" onclick="editRow(this.closest('tr'))"><i class="fas fa-edit"></i></span>
          <span class="save-icon text-success" style="display:none" onclick="saveRow(this.closest('tr'))"><i class="fas fa-save"></i></span>
          <span class="cancel-icon text-secondary" style="display:none" onclick="cancelEditRow(this.closest('tr'))"><i class="fas fa-times"></i></span>
      </td>
  </tr>
  

</table>

      <div class="d-flex">
        <div class=" z-index  fgg" >
          <a href="/dashboard"><i class="fas fa-arrow-left mm fa-2x"></i></a>
        </div>
       <div> <h1 class="text-center dc  py-3">Missing <span class="col">Value</span>  </h1></div>
      </div>
   
      <div  class="card">
    
        <div class="card-body">
    
          <form  action="/Missing" method="POST" >
            <select   name="table" class="container inh form-control bv  fw-bolder  mb-3">
              <option class="fw-bolder vc  mt-5" value="Not select"  selected>Select Which Table to Clean:</option>
              
              {% for filename in filenames %}
              <option value="{{ filename }}">{{ filename }}</option>
              {% endfor %}
            </select><br>
            <input type="text" placeholder="mido" value={{missingPers}} id="pers" class="d-none">

         
            <select required name="fill-int-type" class="form-control fw-bolder bv  mb-3">
              <option class=" vc " value="Not select int"  selected>Fill integer Missing Values With:</option>
              <option value="mean">Mean</option>
              <option value="mode">Mode</option>
              
              <option value="median">Median</option>
            </select><br>
            <div class="form-control bv fw-bolder cx" id="showButton" onclick="toggleCodeContainer()">Select Specific Columns</div>
            <div id="codeContainer" style="display: none;">
            <select multiple required name="fill-int-type" class=" form-control form-select mt-3 ">
              <option class="fw-bolder  " value="mean" disabled selected>Fill String Missing Values With:</option>
              <option value="mean">Mean</option>
              <option value="mode">Mode</option>
              
              <option value="median">Median</option>
            </select>
          </div>

            <input  class=" tablesel cxx form-control  bv" placeholder="Fill String Missing String With:" name="fill-str-value" >
            
        <div class="handle">    
          <button type="submit" class="btnn btn btns btn-lg " name="operation"value='show'>Show </button>
          <button type="submit" class="btnn btn btns btn-lg " name="operation"value='fill'>Fill </button>
          <button type="submit" class="btnn btn btns btn-lg " name="operation"value='delete'>delete </button>

          <button type="submit" class="btnn btn btns btn-lg " name="operation"value='save'>Save</button>
        </div>
          </form>
        </div>
      </div>


      <!--chart-->  
      <div class="row">
        <div class="col-md-12">
          <div id="chart" class=""></div>
        </div>
       </div>
       <div class=" flex text-center py-5">
        <div class="">
          <H3 class="bn">Missing Value</H3>
          <h3>{{missingCount}}</h3>
        </div>


        <div class="">
          <H3 class="bn">Total</H3>
          <h3>{{totalRows}}</h3>
        </div>

      </div>
    </div>


    <div class="col-md-8">
      <div class="row">
        <div class="col-md-12 he">
          <div class="he  text-white py-2">
            <h1 class="text-center cv">Original <span class="col">Table</span> </h1>
          </div>
        </div>
      </div>
      {% if table_original=="You haven't selected any Table!" %}
      <p style="margin-top: 3%;" class="alert alert-danger mx-auto w-100" role="alert">{{table_original}}</p>
        
      {% elif table_original %}
        <div class="card">
        <div class="card-body" style="max-height: 400px; overflow-y: scroll;">
          {{ table_original|safe |mido}}
        </div>
      </div>
      
      
      <div class="row">
        <div class="col-md-12 he">
          <div class="he  text-white py-2">
            <h1 class="text-center cv">Cleaned <span class="col">Table</span> </h1>
          </div>
        </div>
      </div>
      {% if table_cleaned =="No Missing Value Found.!" %}
      <p style="margin-top: 3%;" class="alert alert-danger mx-auto w-100" role="alert">{{table_cleaned}}</p>

      <div class="card mt-4">
        <div class="card-body" style="max-height: 400px; overflow-y: scroll;">
       
          {{ table_cleaned|safe }}
        </div>
      </div>
      {% endif %}
      {% if intmsg %}
      <p style="margin-top: 3%;" class="alert alert-danger mx-auto w-100" role="alert">{{intmsg}}</p>  
      {% endif %}
      {% if strmsg %}
      <p style="margin-top: 3%;" class="alert alert-danger mx-auto w-100" role="alert">{{strmsg}}</p>  
      {% endif %}
    </div>
  </div>
</div>

{% endblock %}

{% block js %}
<table class="table table-striped mt-3">
  <tr>
      <th>Column 1</th>
      <th>Column 2</th>
      <th>Column 3</th>
      <th>Column 4</th>
      <th>Column 5</th>
      <th>Actions</th>
  </tr>


  <tr>
      <td>Data 1</td>
      <td>Data 2</td>
      <td>Data 3</td>
      <td>Data 4</td>
      <td>Data 5</td>
      <td>
          <span class="delete-icon text-danger" onclick="deleteRow(this.closest('tr'))"><i class="fas fa-trash-alt"></i></span>
          <span class="update-icon text-primary" onclick="editRow(this.closest('tr'))"><i class="fas fa-edit"></i></span>
          <span class="save-icon text-success" style="display:none" onclick="saveRow(this.closest('tr'))"><i class="fas fa-save"></i></span>
          <span class="cancel-icon text-secondary" style="display:none" onclick="cancelEditRow(this.closest('tr'))"><i class="fas fa-times"></i></span>
      </td>
  </tr>




  <tr>
      <td>Data 1</td>
      <td>Data 2</td>
      <td>Data 3</td>
      <td>Data 4</td>
      <td>Data 5</td>
      <td>
          <span class="delete-icon text-danger" onclick="deleteRow(this.closest('tr'))"><i class="fas fa-trash-alt"></i></span>
          <span class="update-icon text-primary" onclick="editRow(this.closest('tr'))"><i class="fas fa-edit"></i></span>
          <span class="save-icon text-success" style="display:none" onclick="saveRow(this.closest('tr'))"><i class="fas fa-save"></i></span>
          <span class="cancel-icon text-secondary" style="display:none" onclick="cancelEditRow(this.closest('tr'))"><i class="fas fa-times"></i></span>
      </td>
  </tr>




  <tr>
      <td>Data 1</td>
      <td>Data 2</td>
      <td>Data 3</td>
      <td>Data 4</td>
      <td>Data 5</td>
      <td>
          <span class="delete-icon text-danger" onclick="deleteRow(this.closest('tr'))"><i class="fas fa-trash-alt"></i></span>
          <span class="update-icon text-primary" onclick="editRow(this.closest('tr'))"><i class="fas fa-edit"></i></span>
          <span class="save-icon text-success" style="display:none" onclick="saveRow(this.closest('tr'))"><i class="fas fa-save"></i></span>
          <span class="cancel-icon text-secondary" style="display:none" onclick="cancelEditRow(this.closest('tr'))"><i class="fas fa-times"></i></span>
      </td>
  </tr>




  <tr>
      <td>Data 1</td>
      <td>Data 2</td>
      <td>Data 3</td>
      <td>Data 4</td>
      <td>Data 5</td>
      <td>
          <span class="delete-icon text-danger" onclick="deleteRow(this.closest('tr'))"><i class="fas fa-trash-alt"></i></span>
          <span class="update-icon text-primary" onclick="editRow(this.closest('tr'))"><i class="fas fa-edit"></i></span>
          <span class="save-icon text-success" style="display:none" onclick="saveRow(this.closest('tr'))"><i class="fas fa-save"></i></span>
          <span class="cancel-icon text-secondary" style="display:none" onclick="cancelEditRow(this.closest('tr'))"><i class="fas fa-times"></i></span>
      </td>
  </tr>
  

</table>        <table class="table table-striped mt-3">
  <tr>
      <th>Column 1</th>
      <th>Column 2</th>
      <th>Column 3</th>
      <th>Column 4</th>
      <th>Column 5</th>
      <th>Actions</th>
  </tr>


  <tr>
      <td>Data 1</td>
      <td>Data 2</td>
      <td>Data 3</td>
      <td>Data 4</td>
      <td>Data 5</td>
      <td>
          <span class="delete-icon text-danger" onclick="deleteRow(this.closest('tr'))"><i class="fas fa-trash-alt"></i></span>
          <span class="update-icon text-primary" onclick="editRow(this.closest('tr'))"><i class="fas fa-edit"></i></span>
          <span class="save-icon text-success" style="display:none" onclick="saveRow(this.closest('tr'))"><i class="fas fa-save"></i></span>
          <span class="cancel-icon text-secondary" style="display:none" onclick="cancelEditRow(this.closest('tr'))"><i class="fas fa-times"></i></span>
      </td>
  </tr>




  <tr>
      <td>Data 1</td>
      <td>Data 2</td>
      <td>Data 3</td>
      <td>Data 4</td>
      <td>Data 5</td>
      <td>
          <span class="delete-icon text-danger" onclick="deleteRow(this.closest('tr'))"><i class="fas fa-trash-alt"></i></span>
          <span class="update-icon text-primary" onclick="editRow(this.closest('tr'))"><i class="fas fa-edit"></i></span>
          <span class="save-icon text-success" style="display:none" onclick="saveRow(this.closest('tr'))"><i class="fas fa-save"></i></span>
          <span class="cancel-icon text-secondary" style="display:none" onclick="cancelEditRow(this.closest('tr'))"><i class="fas fa-times"></i></span>
      </td>
  </tr>




  <tr>
      <td>Data 1</td>
      <td>Data 2</td>
      <td>Data 3</td>
      <td>Data 4</td>
      <td>Data 5</td>
      <td>
          <span class="delete-icon text-danger" onclick="deleteRow(this.closest('tr'))"><i class="fas fa-trash-alt"></i></span>
          <span class="update-icon text-primary" onclick="editRow(this.closest('tr'))"><i class="fas fa-edit"></i></span>
          <span class="save-icon text-success" style="display:none" onclick="saveRow(this.closest('tr'))"><i class="fas fa-save"></i></span>
          <span class="cancel-icon text-secondary" style="display:none" onclick="cancelEditRow(this.closest('tr'))"><i class="fas fa-times"></i></span>
      </td>
  </tr>




  <tr>
      <td>Data 1</td>
      <td>Data 2</td>
      <td>Data 3</td>
      <td>Data 4</td>
      <td>Data 5</td>
      <td>
          <span class="delete-icon text-danger" onclick="deleteRow(this.closest('tr'))"><i class="fas fa-trash-alt"></i></span>
          <span class="update-icon text-primary" onclick="editRow(this.closest('tr'))"><i class="fas fa-edit"></i></span>
          <span class="save-icon text-success" style="display:none" onclick="saveRow(this.closest('tr'))"><i class="fas fa-save"></i></span>
          <span class="cancel-icon text-secondary" style="display:none" onclick="cancelEditRow(this.closest('tr'))"><i class="fas fa-times"></i></span>
      </td>
  </tr>
  

</table>        <table class="table table-striped mt-3">
  <tr>
      <th>Column 1</th>
      <th>Column 2</th>
      <th>Column 3</th>
      <th>Column 4</th>
      <th>Column 5</th>
      <th>Actions</th>
  </tr>


  <tr>
      <td>Data 1</td>
      <td>Data 2</td>
      <td>Data 3</td>
      <td>Data 4</td>
      <td>Data 5</td>
      <td>
          <span class="delete-icon text-danger" onclick="deleteRow(this.closest('tr'))"><i class="fas fa-trash-alt"></i></span>
          <span class="update-icon text-primary" onclick="editRow(this.closest('tr'))"><i class="fas fa-edit"></i></span>
          <span class="save-icon text-success" style="display:none" onclick="saveRow(this.closest('tr'))"><i class="fas fa-save"></i></span>
          <span class="cancel-icon text-secondary" style="display:none" onclick="cancelEditRow(this.closest('tr'))"><i class="fas fa-times"></i></span>
      </td>
  </tr>




  <tr>
      <td>Data 1</td>
      <td>Data 2</td>
      <td>Data 3</td>
      <td>Data 4</td>
      <td>Data 5</td>
      <td>
          <span class="delete-icon text-danger" onclick="deleteRow(this.closest('tr'))"><i class="fas fa-trash-alt"></i></span>
          <span class="update-icon text-primary" onclick="editRow(this.closest('tr'))"><i class="fas fa-edit"></i></span>
          <span class="save-icon text-success" style="display:none" onclick="saveRow(this.closest('tr'))"><i class="fas fa-save"></i></span>
          <span class="cancel-icon text-secondary" style="display:none" onclick="cancelEditRow(this.closest('tr'))"><i class="fas fa-times"></i></span>
      </td>
  </tr>




  <tr>
      <td>Data 1</td>
      <td>Data 2</td>
      <td>Data 3</td>
      <td>Data 4</td>
      <td>Data 5</td>
      <td>
          <span class="delete-icon text-danger" onclick="deleteRow(this.closest('tr'))"><i class="fas fa-trash-alt"></i></span>
          <span class="update-icon text-primary" onclick="editRow(this.closest('tr'))"><i class="fas fa-edit"></i></span>
          <span class="save-icon text-success" style="display:none" onclick="saveRow(this.closest('tr'))"><i class="fas fa-save"></i></span>
          <span class="cancel-icon text-secondary" style="display:none" onclick="cancelEditRow(this.closest('tr'))"><i class="fas fa-times"></i></span>
      </td>
  </tr>




  <tr>
      <td>Data 1</td>
      <td>Data 2</td>
      <td>Data 3</td>
      <td>Data 4</td>
      <td>Data 5</td>
      <td>
          <span class="delete-icon text-danger" onclick="deleteRow(this.closest('tr'))"><i class="fas fa-trash-alt"></i></span>
          <span class="update-icon text-primary" onclick="editRow(this.closest('tr'))"><i class="fas fa-edit"></i></span>
          <span class="save-icon text-success" style="display:none" onclick="saveRow(this.closest('tr'))"><i class="fas fa-save"></i></span>
          <span class="cancel-icon text-secondary" style="display:none" onclick="cancelEditRow(this.closest('tr'))"><i class="fas fa-times"></i></span>
      </td>
  </tr>
  

</table>        <table class="table table-striped mt-3">
  <tr>
      <th>Column 1</th>
      <th>Column 2</th>
      <th>Column 3</th>
      <th>Column 4</th>
      <th>Column 5</th>
      <th>Actions</th>
  </tr>


  <tr>
      <td>Data 1</td>
      <td>Data 2</td>
      <td>Data 3</td>
      <td>Data 4</td>
      <td>Data 5</td>
      <td>
          <span class="delete-icon text-danger" onclick="deleteRow(this.closest('tr'))"><i class="fas fa-trash-alt"></i></span>
          <span class="update-icon text-primary" onclick="editRow(this.closest('tr'))"><i class="fas fa-edit"></i></span>
          <span class="save-icon text-success" style="display:none" onclick="saveRow(this.closest('tr'))"><i class="fas fa-save"></i></span>
          <span class="cancel-icon text-secondary" style="display:none" onclick="cancelEditRow(this.closest('tr'))"><i class="fas fa-times"></i></span>
      </td>
  </tr>




  <tr>
      <td>Data 1</td>
      <td>Data 2</td>
      <td>Data 3</td>
      <td>Data 4</td>
      <td>Data 5</td>
      <td>
          <span class="delete-icon text-danger" onclick="deleteRow(this.closest('tr'))"><i class="fas fa-trash-alt"></i></span>
          <span class="update-icon text-primary" onclick="editRow(this.closest('tr'))"><i class="fas fa-edit"></i></span>
          <span class="save-icon text-success" style="display:none" onclick="saveRow(this.closest('tr'))"><i class="fas fa-save"></i></span>
          <span class="cancel-icon text-secondary" style="display:none" onclick="cancelEditRow(this.closest('tr'))"><i class="fas fa-times"></i></span>
      </td>
  </tr>




  <tr>
      <td>Data 1</td>
      <td>Data 2</td>
      <td>Data 3</td>
      <td>Data 4</td>
      <td>Data 5</td>
      <td>
          <span class="delete-icon text-danger" onclick="deleteRow(this.closest('tr'))"><i class="fas fa-trash-alt"></i></span>
          <span class="update-icon text-primary" onclick="editRow(this.closest('tr'))"><i class="fas fa-edit"></i></span>
          <span class="save-icon text-success" style="display:none" onclick="saveRow(this.closest('tr'))"><i class="fas fa-save"></i></span>
          <span class="cancel-icon text-secondary" style="display:none" onclick="cancelEditRow(this.closest('tr'))"><i class="fas fa-times"></i></span>
      </td>
  </tr>




  <tr>
      <td>Data 1</td>
      <td>Data 2</td>
      <td>Data 3</td>
      <td>Data 4</td>
      <td>Data 5</td>
      <td>
          <span class="delete-icon text-danger" onclick="deleteRow(this.closest('tr'))"><i class="fas fa-trash-alt"></i></span>
          <span class="update-icon text-primary" onclick="editRow(this.closest('tr'))"><i class="fas fa-edit"></i></span>
          <span class="save-icon text-success" style="display:none" onclick="saveRow(this.closest('tr'))"><i class="fas fa-save"></i></span>
          <span class="cancel-icon text-secondary" style="display:none" onclick="cancelEditRow(this.closest('tr'))"><i class="fas fa-times"></i></span>
      </td>
  </tr>
  

</table>        <table class="table table-striped mt-3">
  <tr>
      <th>Column 1</th>
      <th>Column 2</th>
      <th>Column 3</th>
      <th>Column 4</th>
      <th>Column 5</th>
      <th>Actions</th>
  </tr>


  <tr>
      <td>Data 1</td>
      <td>Data 2</td>
      <td>Data 3</td>
      <td>Data 4</td>
      <td>Data 5</td>
      <td>
          <span class="delete-icon text-danger" onclick="deleteRow(this.closest('tr'))"><i class="fas fa-trash-alt"></i></span>
          <span class="update-icon text-primary" onclick="editRow(this.closest('tr'))"><i class="fas fa-edit"></i></span>
          <span class="save-icon text-success" style="display:none" onclick="saveRow(this.closest('tr'))"><i class="fas fa-save"></i></span>
          <span class="cancel-icon text-secondary" style="display:none" onclick="cancelEditRow(this.closest('tr'))"><i class="fas fa-times"></i></span>
      </td>
  </tr>




  <tr>
      <td>Data 1</td>
      <td>Data 2</td>
      <td>Data 3</td>
      <td>Data 4</td>
      <td>Data 5</td>
      <td>
          <span class="delete-icon text-danger" onclick="deleteRow(this.closest('tr'))"><i class="fas fa-trash-alt"></i></span>
          <span class="update-icon text-primary" onclick="editRow(this.closest('tr'))"><i class="fas fa-edit"></i></span>
          <span class="save-icon text-success" style="display:none" onclick="saveRow(this.closest('tr'))"><i class="fas fa-save"></i></span>
          <span class="cancel-icon text-secondary" style="display:none" onclick="cancelEditRow(this.closest('tr'))"><i class="fas fa-times"></i></span>
      </td>
  </tr>




  <tr>
      <td>Data 1</td>
      <td>Data 2</td>
      <td>Data 3</td>
      <td>Data 4</td>
      <td>Data 5</td>
      <td>
          <span class="delete-icon text-danger" onclick="deleteRow(this.closest('tr'))"><i class="fas fa-trash-alt"></i></span>
          <span class="update-icon text-primary" onclick="editRow(this.closest('tr'))"><i class="fas fa-edit"></i></span>
          <span class="save-icon text-success" style="display:none" onclick="saveRow(this.closest('tr'))"><i class="fas fa-save"></i></span>
          <span class="cancel-icon text-secondary" style="display:none" onclick="cancelEditRow(this.closest('tr'))"><i class="fas fa-times"></i></span>
      </td>
  </tr>




  <tr>
      <td>Data 1</td>
      <td>Data 2</td>
      <td>Data 3</td>
      <td>Data 4</td>
      <td>Data 5</td>
      <td>
          <span class="delete-icon text-danger" onclick="deleteRow(this.closest('tr'))"><i class="fas fa-trash-alt"></i></span>
          <span class="update-icon text-primary" onclick="editRow(this.closest('tr'))"><i class="fas fa-edit"></i></span>
          <span class="save-icon text-success" style="display:none" onclick="saveRow(this.closest('tr'))"><i class="fas fa-save"></i></span>
          <span class="cancel-icon text-secondary" style="display:none" onclick="cancelEditRow(this.closest('tr'))"><i class="fas fa-times"></i></span>
      </td>
  </tr>
  

</table>        <table class="table table-striped mt-3">
  <tr>
      <th>Column 1</th>
      <th>Column 2</th>
      <th>Column 3</th>
      <th>Column 4</th>
      <th>Column 5</th>
      <th>Actions</th>
  </tr>


  <tr>
      <td>Data 1</td>
      <td>Data 2</td>
      <td>Data 3</td>
      <td>Data 4</td>
      <td>Data 5</td>
      <td>
          <span class="delete-icon text-danger" onclick="deleteRow(this.closest('tr'))"><i class="fas fa-trash-alt"></i></span>
          <span class="update-icon text-primary" onclick="editRow(this.closest('tr'))"><i class="fas fa-edit"></i></span>
          <span class="save-icon text-success" style="display:none" onclick="saveRow(this.closest('tr'))"><i class="fas fa-save"></i></span>
          <span class="cancel-icon text-secondary" style="display:none" onclick="cancelEditRow(this.closest('tr'))"><i class="fas fa-times"></i></span>
      </td>
  </tr>




  <tr>
      <td>Data 1</td>
      <td>Data 2</td>
      <td>Data 3</td>
      <td>Data 4</td>
      <td>Data 5</td>
      <td>
          <span class="delete-icon text-danger" onclick="deleteRow(this.closest('tr'))"><i class="fas fa-trash-alt"></i></span>
          <span class="update-icon text-primary" onclick="editRow(this.closest('tr'))"><i class="fas fa-edit"></i></span>
          <span class="save-icon text-success" style="display:none" onclick="saveRow(this.closest('tr'))"><i class="fas fa-save"></i></span>
          <span class="cancel-icon text-secondary" style="display:none" onclick="cancelEditRow(this.closest('tr'))"><i class="fas fa-times"></i></span>
      </td>
  </tr>




  <tr>
      <td>Data 1</td>
      <td>Data 2</td>
      <td>Data 3</td>
      <td>Data 4</td>
      <td>Data 5</td>
      <td>
          <span class="delete-icon text-danger" onclick="deleteRow(this.closest('tr'))"><i class="fas fa-trash-alt"></i></span>
          <span class="update-icon text-primary" onclick="editRow(this.closest('tr'))"><i class="fas fa-edit"></i></span>
          <span class="save-icon text-success" style="display:none" onclick="saveRow(this.closest('tr'))"><i class="fas fa-save"></i></span>
          <span class="cancel-icon text-secondary" style="display:none" onclick="cancelEditRow(this.closest('tr'))"><i class="fas fa-times"></i></span>
      </td>
  </tr>




  <tr>
      <td>Data 1</td>
      <td>Data 2</td>
      <td>Data 3</td>
      <td>Data 4</td>
      <td>Data 5</td>
      <td>
          <span class="delete-icon text-danger" onclick="deleteRow(this.closest('tr'))"><i class="fas fa-trash-alt"></i></span>
          <span class="update-icon text-primary" onclick="editRow(this.closest('tr'))"><i class="fas fa-edit"></i></span>
          <span class="save-icon text-success" style="display:none" onclick="saveRow(this.closest('tr'))"><i class="fas fa-save"></i></span>
          <span class="cancel-icon text-secondary" style="display:none" onclick="cancelEditRow(this.closest('tr'))"><i class="fas fa-times"></i></span>
      </td>
  </tr>
  

</table>
<script src=".\static\js\missing.js"></script>
{% endblock %}



